@media (max-width:2000px) and (min-width:980px){
    .inner {
        height: 250px !important;
        width: 23% !important;
        margin: 0% 1% !important;
    }
}
@media (max-width:980px ){
    .text-end {
        display: flex;
        align-items: center;
    }
    .inner {
        width: 47%;
        margin: 0% 1%;
    }
    .secition-2 {
        flex-wrap: wrap;
    }
    .last .col-3 {
        height: inherit;
        width: 100%;
        text-align: center;
    }
    .last .col-3 img {
        float: inherit;
    }
    .last .col-3 img {
        width: 35%;
        float: inherit;
    }
    .last {
        height: inherit;
    }
}
@media (max-width:700px ){
    img, svg {
        width: 50%;
        margin: auto;
    }
    .container-fluid{
        padding: 0px !important;
    }
    .menu{
        width: 100%;
        text-align: center;
        margin-top: 13px;
    }
    .text-end img {
        margin-top: 58px;
    }
    .banner{
        margin: 0px !important;
        text-align: center;
    }
    .banner h1{
        font-size: 25px;
    }
    .inner {
        width: 100%;
        margin: 4% 1%;
    }
    .inner img {
        width: 63px;
    }
    .footer {
        margin-top: 10px;
    }
    .last-p {
        margin-top: 48px;
    }
}
@media (max-width:580px ){
    .menu{
        width: 100%;
        text-align: center;
        margin: 19px 0px;
    }
    .btn {
        padding: 4px;
        font-size: 10px;
    }
    .courses .card {
        padding: 27px !important;
    }
    .card-title {
        font-size: 17px;
    }
    .card-text {
        font-size: 14px;
    }
    .top {
        padding: 20px !important;
    }
    .banner {
        padding: 20px !important;
    }
    .banner .col-md-5{
        margin: inherit !important;
    }
    .inner img {
        width: 63px;
    }
}